@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=c4b037d5-d851-407c-8e4b-cf391bd8692b&fontids=6149660");
@font-face{
    font-family:"Avenir Next LT W01 Regular";
    src:url("../fonts/Fonts/6149660/c4691e94-080d-4452-8f9f-8b3db6b68d55.woff2") format("woff2"),url("../fonts/Fonts/6149660/a1adabe6-efe5-40b7-b619-48111c8ff883.woff") format("woff");
}
.background-mobile {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  @media (orientation: landscape) {
    display: none;
  }
}
.background-desktop {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  @media (orientation: portrait) {
    display: none;
  }
}
.main-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.studio-locations {
  font-family: 'Avenir Next LT W01 Regular', sans-serif;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 30px;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 10px; 
  grid-template-areas: 
    ". . ."; 
  li {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    @media screen and (min-width: 375px) {
      font-size: 14px;
    }
    @media screen and (min-width: 414px) {
      font-size: 15px;
    }
    @media screen and (min-width: 667px) and (orientation: landscape) {
      font-size: 23px;
      padding: 98px 0 0;
    }
    @media screen and (min-width: 667px) and (max-height: 414px) and (orientation: landscape) {
      padding: 0;
    }
    @media screen and (min-width: 768px) and (orientation: portrait) {
      font-size: 23px;
      padding: 98px 0 0;
    }
    @media screen and (min-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
      padding: 30px 0 0;
    }
  }
}
.studio-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 245px;
  @media (orientation: landscape) {
    width: 80px;
  }
  @media screen and (min-width: 667px) and (orientation: landscape) {
    width: 135px;
  }
  @media screen and (min-width: 768px) and (orientation: landscape) {
    width: 342px;
  }
  @media screen and (min-width: 667px) and (max-height: 414px) and (orientation: landscape) {
    width: 135px;
  }
  img {
    margin: auto;
    display: block;
    width: 100%;
    height: auto;
  }
  h2 {
    font-family: 'Avenir Next LT W01 Regular', sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    margin: auto;
    color: #fff;
    letter-spacing: 0;
    @media (orientation: landscape) {
      display: none;
    }
    @media screen and (min-width: 768px) and (orientation: landscape) {
      display: block;
      font-size: 27px;
    }
    @media screen and (min-width: 667px) and (max-height: 414px) and (orientation: landscape) {
      display: none;
    }
  }
}
.contact-btn {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translate(-50%, 0);
  @media (orientation: landscape) {
    bottom: 20px;
  }
  @media screen and (min-width: 667px) and (orientation: landscape) {
    bottom: 40px;
  }
  @media screen and (min-width: 768px) and (orientation: landscape) {
    bottom: 130px;
  }
  @media screen and (min-width: 667px) and (max-height: 414px) and (orientation: landscape) {
    bottom: 20px;
  }
  a {
    color: #000;
    font-family: 'Avenir Next LT W01 Regular', sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border-radius: 41px;
    background-color: #fff;
    padding: 15px 0;
    width: 214px;
    display: inline-block;
    text-decoration: none;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    @media screen and (min-width: 768px) and (orientation: landscape) {
      font-size: 22px;
      width: 262px;
    }
    &:hover {
      cursor: pointer;
      color: #fff;
      background-color: #000;
      transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    }
  }
}
.contact-mail-address {
  text-align: center;
  padding: 0 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 60px);
  transform: translate(-50%, -50%);
  @media screen and (min-width: 768px) and (orientation: landscape) {
    width: 690px;
  }
  @media screen and (min-width: 768px) and (orientation: portrait) {
    width: 690px;
  }
  h2 {
    font-family: 'Avenir Next LT W01 Regular', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (min-width: 375px) {
      font-size: 33px;
      margin-bottom: 40px;
    }
    @media screen and (min-width: 768px) and (orientation: landscape) {
      font-size: 55px;
      margin-bottom: 60px;
    }
    @media screen and (min-width: 568px) and (max-height: 414px) and (orientation: landscape) {
      font-size: 0;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 667px) and (max-height: 414px) and (orientation: landscape) {
      font-size: 28px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    @media screen and (min-width: 812px) and (max-height: 375px) and (orientation: landscape) {
      font-size: 0;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 768px) and (orientation: portrait) {
      font-size: 55px;
      margin-bottom: 60px;
    }
  }
  a {
    font-family: 'Avenir Next LT W01 Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    position: relative;
    padding-left: 60px;
    display: inline-block;
    margin: 0 auto 20px auto;
    text-decoration: none;
    @media screen and (min-width: 375px) {
      font-size: 20px;
      margin: 0 auto 40px auto;
    }
    @media screen and (min-width: 768px) and (orientation: landscape) {
      font-size: 27px;
      padding-left: 100px;
    }
    @media screen and (min-width: 568px) and (max-height: 414px) and (orientation: landscape) {
      font-size: 13px;
      margin: 0 auto 10px auto;
      padding-left: 60px;
    }
    @media screen and (min-width: 768px) and (orientation: portrait) {
      font-size: 27px;
      padding-left: 100px;
    }
    &:before {
      content: "";
      position: absolute;
      width: 44px;
      height: 32px;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      display: block;
      background: url('../images/email-icon.png');
      background-size: 100%;
      @media screen and (min-width: 768px) and (orientation: landscape) {
        width: 67px;
        height: 48px;
      }
      @media screen and (min-width: 568px) and (max-height: 414px) and (orientation: landscape) {
        width: 44px;
        height: 32px;
      }
      @media screen and (min-width: 768px) and (orientation: portrait) {
        width: 67px;
        height: 48px;
      }
    }
  }
  .contact-disclaimer {
    font-family: 'Avenir Next LT W01 Regular', sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    max-width: 223px;
    margin: auto;
    @media screen and (min-width: 414px) {
      margin: 0 auto 40px auto;
    }
    @media screen and (min-width: 768px) and (orientation: landscape) {
      font-size: 15px;
      line-height: 20px;
      max-width: 100%;
      margin: 40px auto 60px;
    }
    @media screen and (min-width: 568px) and (max-height: 414px) and (orientation: landscape) {
      margin: 10px auto;
    }
    @media screen and (min-width: 768px) and (orientation: portrait) {
      font-size: 15px;
      line-height: 20px;
      max-width: 100%;
      margin: 40px auto 60px;
    }
  }
  h3 {
    font-family: 'Avenir Next LT W01 Regular', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    @media screen and (min-width: 375px) {
      font-size: 16px;
      line-height: 21px;
    }
    @media screen and (min-width: 414px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) and (orientation: landscape) {
      font-size: 22px;
    }
    @media screen and (min-width: 568px) and (max-height: 414px) and (orientation: landscape) {
      margin: 0;
    }
    @media screen and (min-width: 768px) and (orientation: portrait) {
      font-size: 22px;
    }
  }
  .contact-policy-body {
    p {
      font-family: 'Avenir Next LT W01 Regular', sans-serif;
      font-size: 10px;
      line-height: 14px;
      font-weight: 400;
      color: #fff;
      @media screen and (min-width: 768px) and (orientation: landscape) {
        font-size: 15px;
        line-height: 20px;
      }
      @media screen and (min-width: 768px) and (orientation: portrait) {
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
}
.studio-logo-contact {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 35px;
  @media screen and (min-width: 375px) {
    bottom: 40px;
  }
  @media screen and (min-width: 768px) and (orientation: landscape) {
    bottom: 60px;
    width: 71px;
  }
  @media screen and (min-width: 568px) and (max-height: 414px) and (orientation: landscape) {
    display: none;
  }
  @media screen and (min-width: 768px) and (orientation: portrait) {
    bottom: 60px;
    width: 71px;
  }
  @media screen and (min-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    display: none;
  }
  img {
    display: block;
    width: 35px;
    height: auto;
    @media screen and (min-width: 768px) and (orientation: landscape) {
      width: 71px;
    }
  }
}